*{
    box-sizing: border-box;
}

body{
    margin:0
}

.nav{
    background-color: black;
    color:aliceblue;
    display: flex;
    justify-content:space-between;
    align-items:center;
    gap:2rem;
    padding: 4rem;
    height:2rem;
}

.nav .Time{
    padding:10px 20px;
    border-radius:100%;
    background-color:red;
    position: 10px;
}


.nav .Time:hover{
    padding:10px 20px;
    border-radius:20px;
    background-color:orange;
    position: 20px;
}


.nav .Logout .img{
     height:10px;
     width:20px
}

.Calculator{
    display:grid;
    grid-template-areas:auto/auto/auto ;
    border: 4px solid rgb(77, 60, 62);
    border-radius: 20px;
    position: relative;
    top:10px;
    left:200px;
    width:400px;
    height:400px;
    padding:20px 20px;
    background-color:lightslategray;
}

.Calculator .Screen{
    height: 75px;
    width: 340px;
    border: 1px solid black;
    border-radius:2px;
    background-color:greenyellow;
    opacity:40%;
    font-size: 40px;
}

.Calculator .Left{
    margin:10px 2px;
    display:inline-grid;
    grid-template-columns:repeat(3, auto);
    gap:10px 10px;
}

.Calculator .Number, .Decimal{
    font-size:35px;
    height:60px;
    width:60px;
    background-color: whitesmoke;
    border-radius:15%;
    border:2px solid rgb(95, 93, 89);
    padding:5px 5px;
}

.Calculator .Right {
    margin:10px 10px;
    display:inline-grid;
    grid-template-columns:auto auto;
    gap:10px 10px;
    position:relative;
    top:auto;
    left:10px;
}
.Right .Operator ,.Equal, .Clear{
    position:relative;
    height:70px;
    width:50px;
    font-size:30px;
    background-color:black;
    color:aliceblue;
    border-radius:7px;
    border:0px;
}

.Right .Clear{
    background-color:blue;
}
.Right .Equal{
    height:110px;
    background: green;
}

.Calculator .Decimel:hover, .Number:hover ,.Operator:hover, .Equal:hover, .Clear:hover{
    background-color:lightpink;
}